aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
alembic==1.13.2
annotated-types==0.7.0
ansible-core==2.17.3
anyio==4.9.0
argcomplete==3.5.0
astroid==3.3.8
attrs==24.2.0
audioread==3.0.1
bandit==1.8.3
beautifulsoup4==4.12.3
black==24.8.0
blinker==1.8.2
blis==1.3.0
bottle==0.13.1
bottle-websocket==0.2.9
build==1.2.1
cachelib==0.13.0
captcha==0.5.0
catalogue==2.0.10
certifi==2025.4.26
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.2
click==8.1.8
cloudpathlib==0.21.1
colorama==0.4.6
colorclass==2.2.2
compressed_rtf==1.0.6
comtypes==1.4.7
confection==0.1.5
cors==1.0.1
cryptography==43.0.0
cymem==2.0.11
dataclasses-json==0.6.7
decorator==5.1.1
deprecation==2.1.0
dill==0.3.9
distlib==0.3.9
distro==1.9.0
dnspython==2.6.1
docutils==0.21.2
docx2txt==0.8
easygui==0.98.3
easyocr==1.7.2
ebcdic==1.1.1
Eel==0.17.0
elementpath==4.4.0
email_validator==2.2.0
enum34==1.1.10
et-xmlfile==1.1.0
fastapi==0.115.12
ffmpeg-python==0.2.0
filelock==3.18.0
flake8==7.1.1
Flask==3.0.3
flask-cors==5.0.1
Flask-PyMongo==2.3.0
Flask-Session==0.8.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
frozenlist==1.4.1
fsspec==2025.3.2
future==1.0.0
gevent==24.2.1
gevent-websocket==0.10.1
gotrue==2.6.1
greenlet==3.1.1
gTTS==2.3.2
gunicorn==22.0.0
h11==0.16.0
h2==4.1.0
hpack==4.0.0
httpcore==1.0.5
httpx==0.27.0
hugchat==0.4.11
huggingface-hub==0.24.5
hyperframe==6.0.1
HyperPyYAML==1.2.2
hypothesis==6.111.1
idna==3.10
imageio==2.37.0
iniconfig==2.0.0
isort==6.0.1
itsdangerous==2.2.0
Jinja2==3.1.6
jiter==0.5.0
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
langcodes==3.5.0
langsmith==0.1.100
language_data==1.3.0
lark==1.1.9
lazy_loader==0.4
librosa==0.9.2
llvmlite==0.43.0
lxml==5.3.0
Mako==1.3.5
mando==0.7.1
marisa-trie==1.2.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.22.0
mccabe==0.7.0
mdurl==0.1.2
mock==5.1.0
more-itertools==10.4.0
MouseInfo==0.1.3
mpmath==1.3.0
mpv==0.1
msgspec==0.18.6
msoffcrypto-tool==5.4.2
multidict==6.0.5
murmurhash==1.0.12
mypy-extensions==1.0.0
names==0.3.0
networkx==3.4.2
ninja==1.11.1.4
numba==0.60.0
numexpr==2.10.1
numpy==2.2.5
olefile==0.47
openai==1.54.4
openai-whisper @ git+https://github.com/openai/whisper.git@ba3f3cd54b0e5b8ce1ab3de13e32122d0d5f98ab
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
openpyxl==3.1.5
orjson==3.10.7
outcome==1.3.0.post0
packaging==25.0
pathspec==0.12.1
pbr==6.1.1
pdfminer.six==20240706
pillow==11.2.1
pip-tools==7.4.1
platformdirs==4.3.6
playsound==1.2.2
playwright==1.46.0
pluggy==1.5.0
pooch==1.8.2
postgrest==0.16.9
preshed==3.0.9
prompt_toolkit==3.0.47
pvporcupine==3.0.3
pvrecorder==1.2.7
PyAudio==0.2.14
PyAutoGUI==0.9.54
pyclipper==1.3.0.post6
pycodestyle==2.12.1
pycparser==2.22
pydantic==2.11.4
pydantic_core==2.33.2
pydub==0.25.1
pyee==11.1.0
pyflakes==3.2.0
PyGetWindow==0.0.9
Pygments==2.19.1
pylint==3.3.4
pymongo==4.7.3
PyMsgBox==1.0.9
pyparsing==3.1.4
pyperclip==1.9.0
pypiwin32==223
pyproject_hooks==1.1.0
PyRect==0.2.0
PyScreeze==1.0.1
PySocks==1.7.1
pytest==8.3.2
pytest-datadir==1.5.0
python-bidi==0.6.6
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-frontmatter==1.1.0
python-multipart==0.0.20
python-pptx==1.0.2
pyttsx3==2.98
pytweening==1.2.0
pywhatkit==5.4
pywin32==307
PyYAML==6.0.2
radon==6.0.1
rapidfuzz==3.9.6
realtime==1.0.6
red-black-tree-mod==1.20
regex==2024.7.24
requests==2.32.3
requests-file==2.1.0
requests-toolbelt==1.0.0
resampy==0.4.3
resolvelib==1.0.1
rich==14.0.0
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
safetensors==0.4.4
scikit-image==0.25.2
scikit-learn==1.5.1
scipy==1.15.3
selenium==4.31.0
sentencepiece==0.2.0
shapely==2.1.0
shellingham==1.5.4
six==1.17.0
smart-open==7.1.0
sniffio==1.3.1
sortedcontainers==2.4.0
soundfile==0.11.0
soupsieve==2.6
spacy==3.8.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
speechbrain==1.0.0
SpeechRecognition==3.10.4
SQLAlchemy==2.0.32
srsly==2.5.1
starlette==0.46.2
stevedore==5.4.1
storage3==0.7.7
StrEnum==0.4.15
supabase==2.6.0
supafunc==0.5.1
sympy==1.14.0
tenacity==8.5.0
termcolor==2.0.1
thefuzz==0.19.0
thinc==8.3.6
threadpoolctl==3.5.0
tifffile==2025.5.10
tiktoken==0.7.0
tldextract==5.1.2
tokenizers==0.19.1
tomli==2.2.1
tomlkit==0.13.2
torch==2.7.0
torchaudio==2.4.0
torchvision==0.22.0
tqdm==4.67.1
trio==0.29.0
trio-websocket==0.12.2
typer==0.15.4
typing-inspect==0.9.0
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2024.1
tzlocal==5.2
undetected-chromedriver==3.5.5
urllib3==2.4.0
uvicorn==0.34.2
virtualenv==20.29.3
wasabi==1.1.3
wcwidth==0.2.13
weasel==0.4.1
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.0.4
whichcraft==0.6.1
whisper==1.1.10
wikipedia==1.4.0
win_unicode_console==0.5
wrapt==1.17.2
wsproto==1.2.0
WTForms==3.1.2
xlrd==2.0.1
XlsxWriter==3.2.0
xmlschema==3.3.2
yarl==1.9.4
zope.event==5.0
zope.interface==7.0.3
